---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { Content, frontmatter } from "../data/resume.md";
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">이력서</h1>
    <article class="animate mt-4">
      <Content />
    </article>
  </Container>
</Layout>
