<div class="giscus"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo="junnppp/site"
  data-repo-id="R_kgDOS9zQfg"
  data-category="Announcements"
  data-category-id="DIC_kwDOS9zQfs4C_X_d"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="ko"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
