---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap items-baseline justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="flex items-baseline gap-5 text-sm">
        <Link href="/projects" underline={false}>포트폴리오</Link>
        <Link href="/resume" underline={false}>이력서</Link>
      </nav>
    </div>
  </Container>
</header>
